body {
    background-color: blue;
    text-align: center;
    color: yellow;
}

h1 {
    font-size: 75px;
}

p {
    font-size: 25px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 930;
    height: 2065px;
    background-color: yellow;
    margin: 15px;
    border: 5px solid red;
}

.cell {
    display: flex;
    flex-direction: row;
    color: green;
    background-color: white;
    font-weight: 900;
    width: 100px;
    height: 100px;
    border: 2px solid green;
}

